{% load static %}
<!DOCTYPE html>
    <head>
        <title>Blog</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <div class="container-fluid">

            <!-- Main body -->
            <div class="row">

                <!-- Left narrow colum -->
                <div class="col-2 bg-secondary">

                    <!-- Bio card -->
                    <div class="card mt-3">
                        <div class="card-body">
                            <h5 class="card-title text-center">Jon Lee</h5>
                            <img class="card-img-top" src="..." alt="Profile image">
                            <p class="card-text text-center pt-3">Hi there. I'm a Japanese translator by trade and a webdev in training. You can find out more about me here.</p>
                        </div>
                    </div>

                    <!-- Action button card -->
                    <div class="card mt-3">
                        <div class="card-body text-center">
                            <!-- Button to show all posts -->
                            <a class="btn btn-success mb-4" href="{% url 'home' %}" role="button">Show all posts</a>
                            <!-- Button to add a new post -->
                            <a class="btn btn-success mb-4" href="{% url 'post_new' %}" role="button">Add new post</a>
                        </div>
                    </div>

                    <!-- User login status message card -->
                    <!-- Action button card -->
                    <div class="card my-3">
                        <div class="card-body">
                            {% if user.is_authenticated %}
                                <p>Hi {{ user.username }}!</p>
                                <!-- Log out button -->
                                <p><a href="{% url 'logout' %}">Log out</a></p>
                            {% else %}
                                <!-- Log in button -->
                                <p>You are not logged in.</p>
                                <a href="{% url 'login' %}">Log In</a>
                            {% endif %}
                        </div>
                    </div>

                </div>

                <!-- Right wide column (main content) -->
                <div class="col-10">

                    <!-- Top banner -->
                    <div class="row bg-info" >
                        <div class="card bg-primary mx-auto" >
                            <div class="card-body bg-success" >
                                <h1 class="card-title text-center">Basic Blog - Powered by Django and Styled With Bootstrap</h1>
                                <h4 class="card-subtitle text-center">Built using "Django for Beginners"</h4>
                            </div>
                        </div>
                    </div>

                    <!-- List of all blog entries -->
                    {% block content %}
                    {% endblock content %}
                </div>

            </div>

        <!-- Bootstrap related javascript -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    </body>
</html>