{% extends 'base.html' %}

{% block content %}

    <div class="card flex-row flex-wrap my-4">
        <div class="card-block px-4 py-4">

            <h4 class="card-title ">{{ post.title }}</h4>
            <p class="text-muted">By {{ post.author }}</p>
            <p class="card-text">{{ post.body|linebreaksbr }}</p>

            <a class="btn btn-primary mr-3" href="{% url 'post_edit' post.pk %}" role="button">Edit this post</a>
            <a class="btn btn-primary" href="{% url 'post_delete' post.pk %}" role="button">Delete this post</a>

        </div>
    </div>

{% endblock content %}