{% extends 'base.html' %}

{% block content %}
    
    <div class="row">
        <div class="col">
            <h4>{{ post.title }}</h4>
            <h5>By {{ post.author }}</h5>
        </div>
    </div>

    <div class="row">
        <div class="col py-2">
            <p>{{ post.body }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a class="btn btn-secondary mr-3" href="{% url 'post_edit' post.pk %}" role="button">Edit this post</a>
            <a class="btn btn-secondary" href="{% url 'post_delete' post.pk %}" role="button">Delete this post</a>
        </div>
    </div>

{% endblock content %}